# Node.js
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Logs
logs/
*.log
log/
*.log*

# Environment Variables
.env
.env.local

# Build and Dependency Artifacts
dist/
build/

# OS and Editor Specific Files
.DS_Store
Thumbs.db

# Optional npm cache
.npm

# Debugging
.vscode/
.idea/
*.swp

# Testing Coverage
coverage/

# TypeScript Build Files
*.tsbuildinfo
